*{
    margin:0px;
    padding:0px;
}
.wrapper
{
    min-height:300px;
    max-height: 1400px;
    margin: auto 0;
}
.menu
{
    position: relative;
    width:100%;
    height:60px;
    position: fixed;
    background:rgba(47, 46, 46, 1);
    z-index:10;
}
ul
{
    margin-top:19px;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
ul li{
    font-family: Microsoft Sans Serif;
   
    transition: color 0.4s ease 0s;
    width:140px;
       /* background: aliceblue; */
    color:white;
       height:30%;
}
ul li:hover
{
    cursor: pointer;
    color:rgb(163, 161, 161);
}
.gif
{
    /* position: relative; */
    /* margin-top:60px; */
    width:100%;
    height:100%;
    position: fixed;
    background-image: url("../img/jade2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: violet;
}
.sb
{
    position: absolute;
    top:120px;
    margin: 0 auto;
    width:100%;
    height:400px;
    text-align: center;
    /* background: turquoise; */
}
.btn
{   
    position: absolute;
    top:800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    height:40px;
    /* background: blue; */
}
.wrapper1
{
    min-height:300px;
    max-height: 1400px;
    margin: auto 0;
    
}
.btn1
{
    width:40px;
    height:40px;
    background: url("../img/fb.png");
}
.btn2
{  
     margin-left: 10px;
    width:40px;
    height:40px;
    background: url("../img/pin.png");
}
.btn3
{
    margin-left: 10px;    
    width:40px;
    height:40px;
    background: url("../img/insta.png");
}
.wrapper2
{
    min-height:300px;
    max-height: 1400px;
    margin: auto 0;
}
.container
{
    height:615px;
    width:100%;
    position: relative;
    top:300px;
    background:url(../IMG/con2.jpg) ;

}
.bg1
{  
    height:100%;
    width:100%;
    
}
.line
{   
    margin:-90 auto;
    width:70px;
    height:5px;
    border-radius:20px;
    background:rgba(255, 255, 255, 1);
}
.threediv
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top:260px;
    width:100%;
    height:300px;
    text-align: center;
    /* background: turquoise; */
}
.div1
{
    
    width:200px;
    height:300px;
    text-align: center;
    /* background: blue; */
}
.div2
{
    margin-left: 85px;
    width:200px;
    height:300px;
    text-align: center;
    /* background: purple; */
}
.div3
{
    margin-left: 85px;    
    width:200px;
    height:300px;
    text-align: center;
    /* background: purple; */
}
.wrapper3
{
    min-height:300px;
    max-height: 1400px;
    margin: auto 0;
}
.whitebg
{
    position: relative;
    top:300px;
    width:100%;
    height:1140px;
    background: white;
}
.line1
{   
    margin:-90 auto;
    width:70px;
    height:5px;
    border-radius:20px;
    background:rgb(43, 42, 42);
}
.wrapper4{
    min-width:300px;
    max-width: 1500px;
    margin:auto auto;

}
.flex_6
{
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex1
{
    width:449.5px;
    height:350px;
    background: url(../IMG/car1.jpg);
    background-size: cover;
}
.op1
{
    width:100%;
    height:100%;
    background:rgba(51, 50, 50);
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    
}
.flex1:hover > .op1
{
    cursor: pointer;
    opacity:  0.514;
}
.flex2
{
    width:449.5px;
    height:350px;
    background: url(../IMG/car2.jpg);
    background-size: cover;

}
.op2
{
    width:100%;
    height:100%;
    background:rgba(51, 50, 50);
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    
}
.flex2:hover > .op2
{
    cursor: pointer;
    opacity:  0.514;
}
.flex3
{
    width:449.5px;
    height:350px;
    background: url(../IMG/car3.jpg);
    background-size: cover;
}
.op3
{
    width:100%;
    height:100%;
    background:rgba(51, 50, 50);
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    
}
.flex3:hover > .op3
{
    cursor: pointer;
    opacity:  0.514;
}
.flex4
{
    width:449.5px;
    height:350px;
    background: url(../IMG/car4.jpg);
    background-size: cover;
}
.op4
{
    width:100%;
    height:100%;
    background:rgba(51, 50, 50);
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    
}
.flex4:hover > .op4
{
    cursor: pointer;
    opacity:  0.514;
}
.flex5
{
    width:449.5px;
    height:350px;
    background: url(../IMG/car5.jpg);
    background-size: cover;
}
.op5
{
    width:100%;
    height:100%;
    background:rgba(51, 50, 50);
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    
}
.flex5:hover > .op5
{
    cursor: pointer;
    opacity:  0.514;
}
.flex6
{
    width:449.5px;
    height:350px;
    background: url(../IMG/car6.jpg);
    background-size: cover;
}

.op6
{
    width:100%;
    height:100%;
    background:rgba(51, 50, 50);
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    
}
.flex6:hover > .op6
{
    cursor: pointer;
    opacity:  0.514;
}
.wrapper5
{
    min-height:300px;
    max-height:1400px;
    margin: auto 0;
}
.bgscroll
{
    position: relative;
    top:300px;
    width:100%;
    height:680px;
    background: url(../IMG/wall.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.wrapper6
{
    min-height:300px;
    max-height:1400px;
    margin: auto 0;
}
.contact
{
    position: relative;
    top:295px;
    width:100%;
    height:905px;
    background: url(../IMG/con4.jpg);
}
.car
{
    position: absolute;
    width:100%;
    height:210px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:90px;
    /* background: black; */
    overflow: hidden;
}
.center
{
    width:300px;
    height:200px;
    background: url(../IMG/carandy.png) no-repeat;
}
.details
{
    position: relative;
    top:350px;
    width:600px;
    height:500px;
    margin:0 auto;
    background:white;
}
.line3
{   
    margin:-50 auto;
    width:50px;
    height:5px;
    border-radius:20px;
    background:rgb(43, 42, 42);
}
.flexdiv
{
    position: relative;
    top:80px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:310px;
    /* background: black; */
}
.leftdiv
{
    width:250px;
    height:310px;
    /* background:blue; */
}
.rightdiv
{
    width:250px;
    height:310px;
    /* background:blue; */
    overflow: hidden;
}
input[type="text"]
{
    width:100%;
    line-height:30px;
    margin-top:5px;
    border-style: solid; 
    border-width:1px;
}
textarea
{
    resize: none;
    font-size: 15px;
    margin-top:5px;
    border-style: solid; 
    border-width:1px;
    border-color:black;
}
button
{
    margin-top:5px;
    float:right;
    width:70px;
    height:27px;
    background:rgba(47, 46, 46, 1);
    color:white;

}
