*
{
    margin:0;
}
ul{
    z-index: 2;
    list-style-type: none;
    height:50px;
    width:79%;
    margin-left: 9%;
    background: rgba(2, 24, 2, 0.733);
    position:fixed;
    cursor: pointer;
}
ul li
{
    width:10%; 
    text-align: center;
    color: white;
    font-family: Lucida Sans Unicode;
    float: left;
    margin-left: 30px;
    margin-top: 14px;   
}
.beechwala
{   width: 14%;
    margin-top:0px; 
    height: 90px;
    font-size: 20px;
    text-align: center;
    background: rgb(39, 195, 247);
}
.symbol::after
{   content: "";
    /* right: 5px; */
    /* margin-top: 5px; */
    height: 0;
    width: 0;
    margin-left: 86%;
    position: relative;
    left:5px;
    top:-5px;
    border-width: 7px;
    border-style: solid;
    border-color: rgba(240, 233, 228, 0.986) transparent transparent transparent;
}
.first
{
    width: 100%;
    height: 43%;
    position: absolute;
    background: rgba(1, 20, 32, 0.918);
    color: white;
    
}
.second
{
    width:100%;
    height: 92%;
    position: absolute;
    top:43%;
    background: white;
    color:black;
    /* position: relative; */
    /* background: white; */
    font-family: Calisto MT;
}
.bg1
{
    width:290px;
    height: 210px;
    /* position: absolute; */
    margin-top: -90px;
    background:rgba(1, 20, 32, 0.918);
    /* float: left; */
    /* background-size:cover; */
}
.bg2
{
    width:290px;
    height: 210px;
    margin-top: -210px;
    margin-left: 290px;
    background:rgba(1, 20, 32, 0.918);
    /* float: left; */
    /* background-size:cover; */
}
.bg3
{
    width:290px;
    height: 210px;
    margin-top: -210px;
    background:rgba(1, 20, 32, 0.918);
    margin-left: 600px;
    /* background-size:cover; */
}
.bg4
{
    width:290px;
    height: 210px;
    /* position: absolute; */
    margin-top: -90px;
    background:rgba(1, 20, 32, 0.918);
    /* float: left; */
    /* background-size:cover; */
}
.bg5
{
    width:290px;
    height: 210px;
    margin-top: -210px;
    margin-left: 290px;
    background:rgba(1, 20, 32, 0.918);
    /* float: left; */
    /* background-size:cover; */
}
.bg6
{
    width:290px;
    height: 210px;
    margin-top: -210px;
    background:rgba(1, 20, 32, 0.918);
    margin-left: 600px;
    /* background-size:cover; */
}
.boxp
{   
    width:290px;
    height:150px;
    margin-left:12%;
    float:left;
}